* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Belleza', sans-serif !important;
	font-weight: 400;

}

.navbar-brand {
	font-weight: 600;
	text-transform: uppercase;
}


.navbar-toggler {
	font-size: 16px;
}

.nav-link {
	font-weight: 600;
	text-transform: uppercase;
}

section {
	border-bottom: 1px solid #CCC;
	scroll-margin-top: 90px;
}

section:first-child,
section:last-child {
	border: 0;
}

#landing {
	background: #E4F0FF;
}

#tools img {
	display: inline-block;
	max-width: 40%;
	margin: 3%;
	padding: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #2171CC;
}